src/main/schema/chassis-pruned.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  version="2.1"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified" 
 
  xmlns:atombeat="http://purl.org/atombeat/xmlns" 
  
  xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
  xmlns:ch="http://www.cggh.org/2011/chassis/xmlns"
  xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:extensionBindingPrefixes="hj orm">
  <xs:import namespace="http://purl.org/atombeat/xmlns" schemaLocation="atombeat.xsd"/>
  
  <xs:import namespace="http://www.cggh.org/2011/chassis/xmlns" schemaLocation="studyInfoTypes.xsd"/>

  <!--  See app.xsd  -->
  <xs:element name="draft" type="xs:NCName"/>
  
  <xs:simpleType name="longURI">
    <xs:restriction base="xs:anyURI">
      <xs:maxLength value="1600"></xs:maxLength>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="longString">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024"></xs:maxLength>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="optionalDecimal">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base='xs:decimal'/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base='xs:string'>
          <xs:minLength value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="optionalInteger">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base='xs:integer'/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base='xs:string'>
          <xs:minLength value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
 
  <xs:element name="studyTitle" type="longString"/>
  <xs:element name="study">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="studyTitle"/>
        <xs:element minOccurs="0" ref="ui-info"/>
        <xs:element minOccurs="0" ref="registrant-has-agreed-to-the-terms"/>
        <xs:element minOccurs="0" ref="study-is-published"/>
        <xs:element minOccurs="0" ref="explorer-display"/>
        <xs:element minOccurs="0" ref="publications"/>
        <xs:element minOccurs="0" ref="acknowledgements"/>
        <xs:element minOccurs="0" ref="curator-notes"/>
        <xs:element ref="study-status"/>
        <xs:element ref="modules"/>
        <xs:element minOccurs="0" ref="study-info"/>
        <xs:element ref="atombeat:group"/>
      </xs:sequence>
      <xs:attribute name="profile" use="required">
        <xs:simpleType >
          <xs:restriction base="xs:anyURI">
            <xs:enumeration value="http://www.cggh.org/2010/chassis/manta/2.1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ui-info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wizard-pane-to-show"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wizard-pane-to-show" type="xs:NCName"/>
  <xs:element name="registrant-has-agreed-to-the-terms" type="xs:NCName"/>
  <xs:element name="study-is-published" >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="|Yes|No"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
  <xs:element name="explorer-display" type="xs:NCName"/>
  <xs:element name="publications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="publication"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="publication">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="publication-title" minOccurs="0"/>
        <xs:element minOccurs="0" ref="pmid" />
        <xs:element ref="publication-references" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="publication-title" type="longString"/>
  <xs:element name="pmid" type="optionalInteger"/>
  <xs:element name="publication-references">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="publication-reference">
          <xs:annotation>
            <xs:appinfo>
              <!--
              <hj:basic>
                <orm:column length="1024"/>
              </hj:basic>
              -->
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="publication-reference">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="longURI">
          <xs:attribute name="type" use="required" type="xs:NCName"/>
        </xs:extension>       
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="first-name" />
        <xs:element minOccurs="0" ref="middle-name" />
        <xs:element minOccurs="0" ref="family-name" />
        <xs:element minOccurs="0" ref="email-address" />
        <xs:element minOccurs="0" ref="institution" />
        <xs:element minOccurs="0" ref="person-is-contactable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="first-name" type="xs:string"/>
  <xs:element name="middle-name" type="xs:string"/>
  <xs:element name="family-name" type="xs:string"/>
  <xs:element name="email-address" type="xs:string"/>
  <xs:element name="institution" type="xs:string"/>
  <xs:element name="person-is-contactable" type="xs:string"/>
  
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="institution-ack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="institution-name"/>
        <xs:element minOccurs="0" ref="institution-websites"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="institution-name" type="longString" />
  <xs:complexType name="inst-web">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="institution-url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="institution-websites" type="inst-web"/>  
  <xs:element name="institution-url" type="longURI"/>

  <xs:element name="institutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="institution-ack"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="acks">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="institutions"/>
      <xs:element ref="people"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="acknowledgements" type="acks" />  
  
  <xs:element name="curator-notes" type="xs:string"/>
  <xs:element name="study-status" type="xs:NCName"/>
  <xs:element name="modules" type="xs:string"/>
  <xs:element name="study-info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="studyInfoStatus"/>
        <xs:element minOccurs="0" ref="start"/>
        <xs:element minOccurs="0" ref="end"/>
        <xs:element minOccurs="0" ref="sites"/>
        <xs:element minOccurs="0" ref="pathogens"/>
        <xs:element minOccurs="0" ref="inclusionExclusionCriteria"/>
        <xs:element minOccurs="0" ref="clinical"/>
        <xs:element minOccurs="0" ref="molecular"/>
        <xs:element minOccurs="0" ref="invitro"/>
        <xs:element minOccurs="0" ref="pharmacology"/>
      </xs:sequence>
      <xs:attribute name="profile" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="studyInfoStatus" type="xs:string"/>
  <xs:element name="start" type="xs:string"/>
  <xs:element name="end" type="xs:string"/>
  <xs:element name="sites">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="site"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="population" type="ch:population"/>
  <xs:element name="site">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="country"/>
        <xs:element ref="region" minOccurs="0"/>
        <xs:element ref="district" minOccurs="0"/>
        <xs:element ref="locality" minOccurs="0"/>
        <xs:element ref="lookupAddress"/>
        <xs:element ref="siteCode" minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="testingDelay"/>
          <xs:element ref="anticoagulant"/>
          <xs:element ref="transportAndStorageTemperature"/>
        </xs:sequence>
        <!--  FIX JASFZ  -->
        <xs:element minOccurs="0" ref="latitude"/> 
        <xs:element minOccurs="0" ref="longitude"/>
        <xs:element ref="population" minOccurs="0"/>
        <xs:element ref="transmissionIntensity" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="country" type="xs:string"/>
  <xs:element name="region" type="xs:string"/>
  <xs:element name="district" type="xs:string"/>
  <xs:element name="locality" type="xs:string"/>
  <xs:element name="lookupAddress" type="xs:string"/>
  <xs:element name="siteCode" type="xs:string"/>
  <xs:element name="testingDelay" type="xs:string"/>
  <xs:element name="anticoagulant" type="xs:string"/>
  <xs:element name="transportAndStorageTemperature" type="xs:string"/>
  <xs:element name="latitude" type="xs:string" nillable="true"/>
  <xs:element name="longitude" type="xs:string" nillable="true"/>
  <xs:element name="transmissionIntensity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="annualParasitologicalIncidence"/>
        <xs:element minOccurs="0" ref="annualParasitologicalIncidenceYear"/>
        <xs:element minOccurs="0" ref="parasitePrevalence"/>
        <xs:element minOccurs="0" ref="parasitePrevalenceYear"/>
        <xs:element minOccurs="0" ref="transmissionIntensityAgeFrom"/>
        <xs:element minOccurs="0" ref="transmissionIntensityAgeFromUnits"/>
        <xs:element minOccurs="0" ref="transmissionIntensityAgeTo"/>
        <xs:element minOccurs="0" ref="transmissionIntensityAgeToUnits"/>
        <xs:element minOccurs="0" ref="entomologicalInoculationRate"/>
        <xs:element minOccurs="0" ref="entomologicalInoculationRateYear"/>
        <xs:element minOccurs="0" ref="seasonalTransmission"/>
        <xs:element minOccurs="0" ref="transmissionMonths"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annualParasitologicalIncidence" type="xs:string"/>
  <xs:element name="annualParasitologicalIncidenceYear" type="xs:string"/>
  <xs:element name="parasitePrevalence" type="xs:string"/>
  <xs:element name="parasitePrevalenceYear"  type="xs:string"/>
  <xs:element name="transmissionIntensityAgeFrom" type="xs:string"/>
  <xs:element name="transmissionIntensityAgeFromUnits" type="xs:string"/>
  <xs:element name="transmissionIntensityAgeTo" type="xs:string"/>
  <xs:element name="transmissionIntensityAgeToUnits" type="xs:string"/>
  <xs:element name="entomologicalInoculationRate" type="xs:string"/>
  <xs:element name="entomologicalInoculationRateYear" type="xs:string"/>
  <xs:element name="seasonalTransmission" >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="|true|false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="transmissionMonths" type="xs:string"/>
  <xs:element name="pathogens" type="xs:string"/>
  <xs:element name="inclusionExclusionCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="age"/>
        <xs:element minOccurs="0" ref="parasitaemia"/>
        <xs:element minOccurs="0" ref="includeMixedInfections"/>
        <xs:element minOccurs="0" ref="excludeIfPriorAntimalarials"/>
        <xs:element minOccurs="0" ref="priorAntimalarialsExclusion"/>
        <xs:element minOccurs="0" ref="pregnancy"/>
        <xs:element minOccurs="0" ref="treatmentReason"/>
        <xs:element minOccurs="0" ref="otherCriteria"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="age">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="maxAge"/>
        <xs:element minOccurs="0" ref="maxAgeUnits"/>
        <xs:element minOccurs="0" ref="minAge"/>
        <xs:element minOccurs="0" ref="minAgeUnits"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="maxAge" type="optionalDecimal"/>
  <xs:element name="maxAgeUnits" type="xs:string"/>
  <xs:element name="minAge" type="optionalDecimal"/>
  <xs:element name="minAgeUnits" type="xs:string"/>
  <xs:element name="parasitaemia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="minParasitaemia"/>
        <xs:element minOccurs="0" ref="maxParasitaemia"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="minParasitaemia" type="optionalDecimal"/>
  <xs:element name="maxParasitaemia" type="optionalDecimal"/>
  <xs:element name="includeMixedInfections" type="xs:string"/>
  <xs:element name="excludeIfPriorAntimalarials" type="xs:string"/>
  <xs:element name="priorAntimalarialsExclusion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="priorAntimalarials"/>
        <xs:element minOccurs="0" ref="priorAntimalarialsDetermination"/>
        <xs:element minOccurs="0" ref="priorAntimalarialsHistoryWeeks"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="priorAntimalarials">
    <xs:complexType>
      <xs:sequence>
        <xs:element  minOccurs="0" maxOccurs="unbounded" ref="drugTaken"/>
      </xs:sequence>
      <xs:attribute name="selected" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="drugTaken" type="xs:string"/>
  <xs:element name="priorAntimalarialsDetermination" type="xs:string"/>
  <xs:element name="priorAntimalarialsHistoryWeeks" type="xs:string"/>
  <xs:element name="pregnancy" type="xs:string"/>
  <xs:element name="treatmentReason" type="xs:string"/>
  <xs:element name="otherCriteria" type="xs:string"/>
  <xs:element name="clinical">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="treatment"/>
        <xs:element minOccurs="0" ref="followup"/>
        <xs:element minOccurs="0" ref="microscopy"/>
        
        <!-- TPP  think that this should not be nullable  -->
        <xs:element minOccurs="0" ref="geneotypingToDistinguishBetweenRecrudescenceAndReinfection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="treatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="regimens"/>
        <xs:element ref="regimenAllocation" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regimens">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="regimen"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="regimenName"/>
        <xs:element minOccurs="0" ref="regimenSupervision"/>
        <xs:element minOccurs="0" ref="regimenUrl"/>
        <xs:element minOccurs="0" ref="drugs"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regimenName" type="xs:string"/>
  <xs:element name="regimenSupervision" type="xs:string"/>
  <xs:element name="regimenUrl" type="longURI"/>
  <xs:element name="regimenAllocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="regimenAllocationMethod"/>
        <xs:element ref="blinding" minOccurs="0"/>
        <xs:element ref="randomisationProportion" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regimenAllocationMethod" type="xs:string"/>
  <xs:element name="blinding" type="xs:string"/>
  <xs:element name="randomisationProportion" type="xs:string"/>
  <xs:element name="followup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="duration"/>
        <xs:element minOccurs="0" ref="feverMeasurement"/>
        <xs:element minOccurs="0" ref="haemoglobinRecording"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- duration is day of follow up -->
  <xs:element name="duration" type="optionalInteger"/>
  <xs:element name="feverMeasurement" type="xs:string"/>
  <xs:element name="haemoglobinRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="haemoglobinRecordingType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="haemoglobinRecordingType" type="xs:string"/>
  <xs:element name="microscopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="microscopyStain" />
        <xs:element minOccurs="0" ref="microscopyStainOther" />
        <xs:element minOccurs="0" ref="asexualParasitemia" />
        <xs:element minOccurs="0" ref="sexualParasitemia" />
        <xs:element minOccurs="0" ref="thickFilmCalculationOfParasitemia" />
        <xs:element minOccurs="0" ref="thinFilmCalculationOfParasitemia" />
        <xs:element minOccurs="0" ref="qualityControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="microscopyStain" type="xs:string"/>
  <xs:element name="microscopyStainOther" type="xs:string"/>
  <xs:element name="asexualParasitemia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="asexualParasitemiaNegativeCount"/>
        <xs:element minOccurs="0" ref="asexualParasitemiaPositiveThickUnit"/>
        <xs:element minOccurs="0" ref="asexualParasitemiaPositiveThickUnitOther"/>
        <xs:element minOccurs="0" ref="asexualParasitemiaPositiveThinUnit"/>
        <xs:element minOccurs="0" ref="asexualParasitemiaPositiveThinUnitOther"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="asexualParasitemiaNegativeCount" type="xs:string"/>
  <xs:element name="asexualParasitemiaPositiveThickUnit" type="xs:string"/>
  <xs:element name="asexualParasitemiaPositiveThickUnitOther" type="xs:string"/>
  <xs:element name="asexualParasitemiaPositiveThinUnit" type="xs:string"/>
  <xs:element name="asexualParasitemiaPositiveThinUnitOther" type="xs:string"/>
  <xs:element name="sexualParasitemia">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sexualParasitemiaNegativeCount" minOccurs="0"/>
        <xs:element ref="sexualParasitemiaPositiveThickUnit" minOccurs="0"/>
        <xs:element ref="sexualParasitemiaPositiveThickUnitOther" minOccurs="0"/>
        <xs:element ref="sexualParasitemiaPositiveThinUnit" minOccurs="0"/>
        <xs:element ref="sexualParasitemiaPositiveThinUnitOther" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sexualParasitemiaNegativeCount" type="xs:string"/>
  <xs:element name="sexualParasitemiaPositiveThickUnit" type="xs:string"/>
  <xs:element name="sexualParasitemiaPositiveThickUnitOther"  type="xs:string"/>
  <xs:element name="sexualParasitemiaPositiveThinUnit" type="xs:string"/>
  <xs:element name="sexualParasitemiaPositiveThinUnitOther" type="xs:string"/>
  <xs:complexType name="thickFilmCalcOfParasitemia">
    <xs:sequence>
      <xs:element ref="thickFilmFormula"/>
      <xs:element ref="thickFilmFormulaOther" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="thinFilmCalcOfParasitemia">
    <xs:sequence>
      <xs:element ref="thinFilmFormula"/>
      <xs:element minOccurs="0" ref="thinFilmFormulaOther"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="thickFilmCalculationOfParasitemia" type="thickFilmCalcOfParasitemia"/>
    
  
  <xs:element name="thickFilmFormula" type="xs:string"/>
  <xs:element name="thickFilmFormulaOther" type="xs:string"/>
  <xs:element name="thinFilmCalculationOfParasitemia" type="thinFilmCalcOfParasitemia"/>
   
  
  <xs:element name="thinFilmFormula" type="xs:string"/>
  <xs:element name="thinFilmFormulaOther" type="xs:string"/>
  <xs:element name="qualityControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="internal"/>
        <xs:element minOccurs="0" ref="external"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="internal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="percentageRereadBySecondMicroscopist" />
        <xs:element minOccurs="0" ref="rereadSlideSelectionMechanism" />
        <xs:element minOccurs="0" ref="rereadSlideSelectionMechanismOther" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="external">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="percentageRereadBySecondMicroscopist" minOccurs="0"/>
        <xs:element ref="rereadSlideSelectionMechanism" minOccurs="0"/>
        <xs:element ref="rereadSlideSelectionMechanismOther" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="genotypingToDistinguish">
    <xs:sequence>
      <xs:element ref="applicability"/>
      <xs:element ref="applicable" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="geneotypingToDistinguishBetweenRecrudescenceAndReinfection" type="genotypingToDistinguish"/>
    
  
  <xs:element name="applicability" type="xs:string"/>
  <xs:element name="applicable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="markers"/>
        <xs:element minOccurs="0" ref="genotypingLaboratory"/>
        <xs:element minOccurs="0" ref="markerDiscriminantOpen"/>
        <xs:element minOccurs="0" ref="analysisProtocol"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="markers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="recrudescenceMarker"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recrudescenceMarker">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="markerName"/>
        <xs:element ref="markerOther"  minOccurs="0"/>
        <xs:element ref="numberOfMicroSatellites" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="markerName" type="xs:string"/>
  <xs:element name="markerOther" type="xs:string"/>
  <xs:element name="numberOfMicroSatellites" type="xs:string"/>
  <xs:element name="genotypingLaboratory" type="xs:string"/>
  <xs:element name="markerDiscriminantOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="markerDiscriminant"/>
        <xs:element ref="markerDiscriminantOther" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="markerDiscriminant" type="xs:string"/>
  <xs:element name="markerDiscriminantOther" type="xs:string"/>
  <xs:element name="analysisProtocol">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mixedAllelesOpen"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mixedAllelesOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mixedAlleles"/>
        <xs:element ref="mixedAllelesOther" minOccurs="0"/>
        <xs:element ref="recrudescence" minOccurs="0"/>
        <xs:element ref="reinfection" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mixedAlleles" type="xs:string"/>
  <xs:element name="mixedAllelesOther" type="xs:string"/>
  <xs:element name="recrudescence" type="xs:string"/>
  <xs:element name="reinfection" type="xs:string"/>
  <xs:element name="molecular">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="criteria"/>
        <xs:element ref="sample"/>
        <xs:element minOccurs="0" ref="genotypedMarkers"/>
        <xs:element minOccurs="0" ref="mixedResistanceAlleles"/>
        <xs:element minOccurs="0" ref="additionalGenotypicInformation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="criteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sampleSourceOpen"/>
        <xs:element ref="malariaStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sampleSourceOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sampleSource"/>
        <xs:element ref="sampleSourceOther"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sampleSource" type="xs:string"/>
  <xs:element name="sampleSourceOther" type="xs:string"/>
  <xs:element name="malariaStatus" type="xs:string"/>
  <xs:element name="genotypedMarkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="genotypedMarker"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genotypedMarker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="genotypingMethodOpen"/>
        <!--  FIXME at least one of the following markers would be good -->
        <xs:element minOccurs="0" ref="molecularMarkerFalciparumOpen" />
        <xs:element minOccurs="0" ref="molecularMarkerVivaxOpen" />
        <xs:element minOccurs="0" ref="molecularMarkerOvaleOpen" />
        <xs:element minOccurs="0" ref="molecularMarkerMalariaeOpen" />
        <xs:element minOccurs="0" ref="molecularMarkerKnowlesiOpen" />
        
        <xs:element minOccurs="0" ref="sampleSelectionMethodOpen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genotypingMethodOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genotypingMethod"/>
        <xs:element ref="genotypingMethodOther"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genotypingMethod" type="xs:string"/>
  <xs:element name="genotypingMethodOther" type="xs:string"/>
  <xs:element name="molecularMarkerFalciparumOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="molecularMarkerFalciparum"/>
        <xs:element ref="molecularMarkerFalciparumOther"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="molecularMarkerFalciparum" type="xs:string"/>
  <xs:element name="molecularMarkerFalciparumOther" type="xs:string"/>
  <xs:element name="molecularMarkerVivaxOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="molecularMarkerVivax"/>
        <xs:element ref="molecularMarkerVivaxOther"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="molecularMarkerVivax" type="xs:string"/>
  <xs:element name="molecularMarkerVivaxOther" type="xs:string"/>
  <xs:element name="molecularMarkerOvaleOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="molecularMarkerOvale"/>
        <xs:element ref="molecularMarkerOvaleOther" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="molecularMarkerOvale" type="xs:string"/>
  <xs:element name="molecularMarkerOvaleOther" type="xs:string"/>
  <xs:element name="molecularMarkerMalariaeOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="molecularMarkerMalariae"/>
        <xs:element ref="molecularMarkerMalariaeOther"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="molecularMarkerMalariae" type="xs:string"/>
  <xs:element name="molecularMarkerMalariaeOther" type="xs:string"/>
  <xs:element name="molecularMarkerKnowlesiOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="molecularMarkerKnowlesi"/>
        <xs:element ref="molecularMarkerKnowlesiOther"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="molecularMarkerKnowlesi" type="xs:string"/>
  <xs:element name="molecularMarkerKnowlesiOther" type="xs:string"/>
  <xs:element name="sampleSelectionMethodOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sampleSelectionMethod"/>
        <xs:element ref="sampleSelectionMethodOther" minOccurs="0"/>
        <xs:element ref="sampleSelectionProportion" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sampleSelectionMethod" type="xs:string"/>
  <xs:element name="sampleSelectionMethodOther" type="xs:string"/>
  <xs:element name="sampleSelectionProportion" type="xs:string"/>
  <xs:element name="mixedResistanceAlleles">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mixedResistanceAllelesInclusion"/>
        <xs:element ref="mixedResistanceAllelesDesignation" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mixedResistanceAllelesInclusion" type="xs:string"/>
  <xs:element name="mixedResistanceAllelesDesignation" type="xs:string"/>
  <xs:element name="additionalGenotypicInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sequencedLoci"/>
        <xs:element ref="infectionComplexityEstimated" minOccurs="0" />
        <xs:element ref="infectionComplexityEstimationlociOpen" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sequencedLoci">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wholeGenomesSequenced"/>
        <xs:element minOccurs="0" ref="resistanceLociSequenced" />
        <xs:element minOccurs="0" ref="resistanceLoci"/>
        <xs:element minOccurs="0" ref="otherLociGenotyped"/>
        <xs:element minOccurs="0" ref="otherLoci"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wholeGenomesSequenced" type="xs:string"/>
  <xs:element name="resistanceLociSequenced" type="xs:string" />
  <xs:element name="resistanceLoci">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="resistanceLocus" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resistanceLocus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="locusTypeOpen"/>
        <xs:element ref="locusName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherLociGenotyped" type="xs:string"/>
  <xs:element name="otherLoci">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="otherLocus" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherLocus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="locusTypeOpen" />
        <xs:element minOccurs="0" ref="locusName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="infectionComplexityEstimated" type="xs:string"/>
  
  <xs:complexType name="infectionCompEstLociOpen">
    <xs:sequence>
      <xs:element ref="infectionComplexityEstimationloci"/>
      <xs:element ref="infectionComplexityEstimationlociOther" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="infectionComplexityEstimationlociOpen" type="infectionCompEstLociOpen"/>
    
  
  <xs:element name="infectionComplexityEstimationloci" type="xs:string"/>
  <xs:element name="infectionComplexityEstimationlociOther" type="xs:string"/>
  <xs:element name="invitro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="analysisSite"/>
        <xs:element minOccurs="0" ref="culture"/>
        <xs:element ref="drugSusceptibilityMedium"/>
        <xs:element minOccurs="0" ref="susceptibility"/>
        <xs:element minOccurs="0" ref="invitroDrugs"/>
        <xs:element minOccurs="0" ref="platePreparationMethod"/>
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" ref="platesPreparationDate"/>
          <xs:element minOccurs="0" ref="plateBatches"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="analysisSite" type="xs:string"/>
  <xs:element name="culture">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="incubatorSystem"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="co2percentage"/>
          <xs:element ref="co2Other" minOccurs="0"/>
          <xs:element ref="o2percentage"/>
          <xs:element ref="o2Other" minOccurs="0"/>
        </xs:sequence>
        <xs:element ref="healthyErythrocytesSource"/>
        <xs:element minOccurs="0" ref="hematocritpercent"/>
        <xs:element ref="bloodGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incubatorSystem" type="xs:string"/>
  <xs:element name="co2percentage" type="xs:string"/>
  <xs:element name="co2Other" type="xs:string"/>
  <xs:element name="o2percentage" type="xs:string"/>
  <xs:element name="o2Other" type="xs:string"/>
  <xs:element name="healthyErythrocytesSource" type="xs:string"/>
  <xs:element name="hematocritpercent" type="xs:string"/>
  <xs:element name="bloodGroup" type="xs:string"/>
  <xs:element name="drugSusceptibilityMedium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="medium"/>
        <xs:element minOccurs="0" ref="mediumOther"/>
        <xs:element minOccurs="0" ref="preparation"/>
        <xs:element minOccurs="0" ref="serum"/>
        <xs:element minOccurs="0" ref="serum-finalConcentration"/>
        <xs:element minOccurs="0" ref="NaHCO3-finalConcentration"/>
        <xs:element minOccurs="0" ref="hypoxantine"/>
        <xs:element minOccurs="0" ref="oroticAcid"/>
        <xs:element minOccurs="0" ref="glucose"/>
        <xs:element minOccurs="0" ref="antibioticTreatments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="medium" type="xs:string"/>
  <xs:element name="mediumOther" type="xs:string"/>
  <xs:element name="preparation" type="xs:string"/>
  <xs:element name="serum" type="xs:string"/>
  <xs:element name="serum-finalConcentration" type="xs:string"/>
  <xs:element name="NaHCO3-finalConcentration" type="xs:string"/>
  <xs:element name="hypoxantine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="hypoxantine-added"/>
        <xs:element minOccurs="0" ref="hypoxantine-finalConcentration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hypoxantine-added" type="xs:string"/>
  <xs:element name="hypoxantine-finalConcentration" type="xs:string"/>
  <xs:element name="oroticAcid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="oroticAcid-added"/>
        <xs:element minOccurs="0" ref="oroticAcid-finalConcentration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oroticAcid-added" type="xs:string"/>
  <xs:element name="oroticAcid-finalConcentration" type="xs:string"/>
  <xs:element name="glucose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="glucose-added"/>
        <xs:element minOccurs="0" ref="glucose-finalConcentration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="glucose-added" type="xs:string"/>
  <xs:element name="glucose-finalConcentration" type="xs:string"/>
  <xs:element name="antibioticTreatments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="antibioticTreatment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="antibioticTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="antibioticOpen"/>
        <xs:element minOccurs="0" ref="antibioticFinalConcentration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="antibioticOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="antibiotic"/>
        <xs:element minOccurs="0" ref="antibioticOther" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="antibiotic" type="xs:NCName"/>
  <xs:element name="antibioticOther" type="xs:string"/>
  <xs:element name="antibioticFinalConcentration" type="xs:decimal"/>
  <xs:element name="susceptibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="timeOfIncubation"/>
        <xs:element ref="susceptibilityMethod"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeOfIncubation" type="xs:string"/>
  <xs:element name="susceptibilityMethod" type="xs:string"/>
  <xs:element name="platePreparationMethod" type="xs:string"/>
  <xs:element name="platesPreparationDate" type="xs:string"/>
  <xs:element name="plateBatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="batch"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="batch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="clone3D7ProvidedByWwarn"/>
        <xs:element minOccurs="0" ref="clone3D7Provider"/>
        <xs:element minOccurs="0" ref="batchesIncludedInRawData"/>
        <xs:element minOccurs="0" ref="preparationDate"/>
        <xs:element minOccurs="0" ref="parasitaemia3D7percentage"/>
        <xs:element minOccurs="0" ref="ringFormingPercentage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clone3D7ProvidedByWwarn" type="xs:boolean"/>
  <xs:element name="clone3D7Provider" type="xs:string"/>
  <xs:element name="batchesIncludedInRawData" type="xs:boolean"/>
  <xs:element name="preparationDate" type="xs:string"/>
  <xs:element name="parasitaemia3D7percentage" type="xs:string"/>
  <xs:element name="ringFormingPercentage" type="xs:string"/>
  <xs:element name="pharmacology">
  <!--  FIXME the defaulted presence of assayReferences>AssayReference>referenceType 
  forces these minOccurs=0, to enable pruned molecular studies to parse -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="studyDesign" minOccurs="0" />
        <xs:element ref="samplingTimes" minOccurs="0" />
        <xs:element ref="PKcomments" minOccurs="0" />
        <xs:element ref="samples" minOccurs="0" />
        <xs:element ref="analytes" minOccurs="0" />
        <xs:element ref="assayReferences"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="studyDesign" type="xs:string"/>
  <xs:element name="samplingTimes" type="xs:string"/>
  <xs:element name="PKcomments" type="longString"/>
  <xs:element name="samples">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="sample"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="analytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="analyte"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="analyte">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="drugMeasured"/>
        <xs:element minOccurs="0" ref="targetDose"/>
        <xs:element minOccurs="0" ref="unitsOfMeasure"/>
        <xs:element minOccurs="0" ref="unitsOfMeasureOther"/>
        <xs:element minOccurs="0" ref="fatAmount"/>
        <xs:element minOccurs="0" ref="lowerLoQ"/>
        <xs:element minOccurs="0" ref="sampleMatrixType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="drugMeasured" type="xs:string"/>
  <xs:element name="targetDose" type="xs:string"/>
  <xs:element name="unitsOfMeasure" type="xs:string"/>
  <xs:element name="unitsOfMeasureOther" type="xs:string"/>
  <xs:element name="fatAmount" type="xs:string"/>
  <xs:element name="lowerLoQ" type="xs:string"/>
  <xs:element name="sampleMatrixType" type="xs:string"/>
  <xs:element name="assayReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="assayReference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assayReference">
  <!--  
  FIXME we have a default referenceType of 'url' 
  even when all other fields are empty 
  -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="referenceType"/>
        <xs:element ref="url"   minOccurs="0"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="doi"/>
          <xs:element ref="upload"/>
        </xs:sequence>
        <xs:element ref="note"   minOccurs="0"/>
        <xs:element ref="assayValidated"   minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="referenceType" type="xs:NCName"/>
  <xs:element name="url" type="xs:anyURI"/>
  <xs:element name="doi" type="xs:string"/>
  <xs:element name="upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="uploadedUrl"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadedUrl" type="xs:string"/>
  <xs:element name="note" type="longString"/>
  <xs:element name="assayValidated" type="xs:string"/>
  <xs:element name="drugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drug"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invitroDrugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="invitroDrug"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="drugBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="batchNumber" minOccurs="0"/>
        <xs:element ref="manufactureDate" minOccurs="0"/>
        <xs:element ref="expiryDate" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="batches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="drugBatch"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tradeName" type="xs:string"/>
  <xs:element name="tradeNameOther" type="xs:string"/>
  <xs:element name="drug">
    <xs:complexType>
        <xs:sequence>
          <xs:element ref="name"/>
          <xs:element ref="drugNameOther" minOccurs="0"/>
          <xs:element ref="activeIngredients" minOccurs="0"/>
          <xs:element ref="administrationRoute" minOccurs="0"/>
          <xs:element ref="manufacturer" minOccurs="0"/>
          <xs:element ref="manufacturerOther" minOccurs="0"/>
          <xs:element ref="tradeName" minOccurs="0"/>
          <xs:element ref="tradeNameOther" minOccurs="0"/>
          <xs:element ref="batches" minOccurs="0"/>
          <xs:element ref="drugStorage" minOccurs="0"/>
          <xs:element ref="drugDosingDeterminant" minOccurs="0"/>
          <xs:element ref="ageDosing" minOccurs="0"/>
          <xs:element ref="weightGroupDosing" minOccurs="0"/>
          <xs:element ref="weightDosing" minOccurs="0"/>
          <xs:element ref="feeding" minOccurs="0"/>
          <xs:element ref="fatPerMeal" minOccurs="0"/>
          <xs:element ref="feedingOther" minOccurs="0"/>
          <xs:element ref="readministeredOnVomitting" minOccurs="0"/>
          <xs:element ref="comments" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invitroDrug">
    <xs:complexType>
        <xs:sequence>
          <xs:element ref="molecule"/>
          <xs:element minOccurs="0" ref="solvent"/>
          <xs:element ref="solventFinalConcentration"/>
          <xs:element ref="providedByWwarn"/>
          <xs:element minOccurs="0" ref="provider"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="drugNameOther" type="xs:string"/>
  <xs:element name="activeIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="activeIngredient"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activeIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="activeIngredientName"/>
        <xs:element minOccurs="0" ref="activeIngredientNameOther"/>
        <xs:element minOccurs="0" ref="activeIngredientMgPerDose"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activeIngredientName" type="xs:string"/>
  <xs:element name="activeIngredientNameOther" type="xs:string"/>
  <xs:element name="activeIngredientMgPerDose" type="optionalDecimal"/>
  <xs:element name="administrationRoute" type="xs:string"/>
  <xs:element name="manufacturer" type="xs:string"/>
  <xs:element name="manufacturerOther" type="xs:string"/>
  <xs:element name="batchNumber" type="xs:string"/>
  <xs:element name="expiryDate" type="xs:string"/>
  <xs:element name="manufactureDate" type="xs:string"/>
  <xs:element name="drugStorage" type="xs:string"/>
  <xs:element name="drugDosingDeterminant" type="xs:string"/>
  <xs:element name="ageDosing">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ageDosingSchedule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ageDosingSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="day"/>
        <xs:element minOccurs="0" ref="hour"/>
        <xs:element ref="ageFrom"/>
        <xs:element ref="ageTo"/>
        <xs:element ref="dose"/>
        <xs:element minOccurs="0" ref="doseUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ageFrom" type="optionalDecimal"/>
  <xs:element name="ageTo" type="optionalDecimal"/>
  <xs:element name="weightGroupDosing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="weightGroupDosingSchedule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="weightGroupDosingSchedule">
    <xs:complexType>
      <xs:sequence>
        <!--  defaulting day and hour to '0' gives problems when pruning -->
        <xs:element minOccurs="0" ref="day"/>
        <xs:element minOccurs="0" ref="hour"/>
        <xs:element minOccurs="0" ref="weightGroupFrom"/>
        <xs:element minOccurs="0" ref="weightGroupTo"/>
        <xs:element minOccurs="0" ref="dose"/>
        <xs:element minOccurs="0" ref="doseUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="weightGroupFrom" type="optionalDecimal"/>
  <xs:element name="weightGroupTo" type="optionalDecimal"/>
  <xs:element name="weightDosing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="weightDosingSchedule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="weightDosingSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="day"/>
        <xs:element minOccurs="0" ref="hour"/>
        <xs:element minOccurs="0" ref="dose"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="feeding" type="xs:string"/>
  <xs:element name="fatPerMeal" type="xs:string"/>
  <xs:element name="feedingOther" type="xs:string"/>
  <xs:element name="readministeredOnVomitting" type="xs:string"/>
  <xs:element name="comments" type="longString"/>
  <xs:element name="molecule" type="xs:NCName"/>
  <xs:element name="solvent" type="xs:string"/>
  <xs:element name="solventFinalConcentration" type="xs:string"/>
  <xs:element name="providedByWwarn" type="xs:boolean"/>
  <xs:element name="provider" type="xs:string"/>
  <xs:element name="percentageRereadBySecondMicroscopist" type="xs:string"/>
  <xs:element name="rereadSlideSelectionMechanism" type="xs:string"/>
  <xs:element name="rereadSlideSelectionMechanismOther" type="xs:string"/>
  <xs:element name="sample">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" ref="sampleTypeOpen"/>
        <xs:sequence>
          <xs:element minOccurs="0" ref="anticoagulent"/>
          <xs:element minOccurs="0" ref="centrifugeTime"/>
          <xs:element ref="storages"/>
        </xs:sequence>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="sampleTypeOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sampleType"/>
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" ref="sampleTypeOther"/>
          <xs:element minOccurs="0" ref="wholeBloodSource"/>
          <xs:element minOccurs="0" ref="dateCultureIsolated"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sampleType" type="xs:string"/>
  <xs:element name="sampleTypeOther" type="xs:string"/>
  <xs:element name="wholeBloodSource" type="xs:string"/>
  <xs:element name="dateCultureIsolated" type="xs:string"/>
  <xs:element name="anticoagulent" type="xs:string"/>
  <xs:element name="centrifugeTime" type="xs:string"/>
  <xs:element name="storages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="storage" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="storage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="storageTemperature"/>
        <xs:element minOccurs="0" ref="storageDuration"/>
        <xs:element minOccurs="0" ref="storageDurationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="storageTemperature" type="xs:string"/>
  <xs:element name="storageDuration" type="xs:string"/>
  <xs:element name="storageDurationUnit" type="xs:string"/>
  <xs:element name="locusTypeOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="locusType"/>
        <xs:element minOccurs="0" ref="locusTypeOther"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="locusType" type="xs:string"/>
  <xs:element name="locusTypeOther" type="xs:string"/>
  <xs:element name="locusName" type="xs:string"/>
  <xs:element name="day" type="optionalDecimal"/>
  <xs:element name="hour" type="optionalDecimal"/>
  <xs:element name="dose" type="xs:string"/>
  <xs:element name="doseUnit" type="xs:string"/>
</xs:schema>
