tags/manta-1.0-beta-20100617/oxygen/samples/nvdl/xhtml-xforms-11-orbeon.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  
  
  <!-- XHTML -->
  <namespace ns="http://www.w3.org/1999/xhtml">
    <validate schema="../../frameworks/xhtml/relaxng/xhtml-orbeon.rng">
      <mode>
        
        <!-- XHTML > XFORMS -->
        <namespace ns="http://www.w3.org/2002/xforms">
          <validate schema="../../frameworks/xforms/XForms-11-Orbeon-Schema.xsd">
            <mode>
              
              <!-- XHTML > XFORMS > XFORMS -->
              <namespace ns="http://www.w3.org/2002/xforms">
                <attach/>
              </namespace>
              
              <!-- XHTML > XFORMS > XHTML -->
              <namespace ns="http://www.w3.org/1999/xhtml">
                <unwrap/>
              </namespace>
              
              <!-- XHTML > XFORMS > XXFORMS -->
              <namespace ns="http://orbeon.org/oxf/xml/xforms">
                <unwrap/>
              </namespace>
              
              <!-- XHTML > XFORMS > XI -->
              <namespace ns="http://www.w3.org/2001/XInclude">
                <unwrap/>
              </namespace>
              
              <!-- XHTML > XFORMS > FR -->
              <namespace ns="http://orbeon.org/oxf/xml/form-runner*">
                <unwrap>
                  <mode>
                    
                    <!-- XHTML > XFORMS > FR > XFORMS -->
                    <namespace ns="http://www.w3.org/2002/xforms">
                      <attach/>
                    </namespace>
                    
                    <!-- XHTML > XFORMS > FR > XHTML -->
                    <namespace ns="http://www.w3.org/1999/xhtml">
                      <unwrap/>
                    </namespace>
                    
                  </mode>
                </unwrap>
              </namespace>
              
            </mode>
            
            <context path="instance">
              <mode>
                
                <!-- XHTML > XFORMS [instance] > * -->
                <anyNamespace>
                  <allow/>
                </anyNamespace>
                
              </mode>
            </context>

          </validate>
          
          <unwrap>
            <mode>
              
              <!-- XHTML > XFORMS > XFORMS -->
              <namespace ns="http://www.w3.org/2002/xforms">
                <unwrap/>
              </namespace>
              
              <!-- XHTML > XFORMS > XHTML -->
              <namespace ns="http://www.w3.org/1999/xhtml">
                <attach/>
              </namespace>
              
              <!-- XHTML > XFORMS > XXFORMS -->
              <namespace ns="http://orbeon.org/oxf/xml/xforms">
                <unwrap/>
              </namespace>
              
              <!-- XHTML > XFORMS > XI -->
              <namespace ns="http://www.w3.org/2001/XInclude">
                <unwrap/>
              </namespace>
              
              <!-- XHTML > XFORMS > FR -->
              <namespace ns="http://orbeon.org/oxf/xml/form-runner*">
                <unwrap>
                  <mode>
                    
                    <!-- XHTML > XFORMS > FR > XFORMS -->
                    <namespace ns="http://www.w3.org/2002/xforms">
                      <unwrap/>
                    </namespace>
                    
                    <!-- XHTML > XFORMS > FR > XHTML -->
                    <namespace ns="http://www.w3.org/1999/xhtml">
                      <unwrap/>
                    </namespace>
                    
                  </mode>
                </unwrap>
              </namespace>
              
            </mode>
            
            <context path="instance">
              <mode>

                <!-- XHTML > XFORMS [instance] > * -->
                <anyNamespace>
                  <unwrap/>
                </anyNamespace>

              </mode>
            </context>
          </unwrap>
        </namespace>
        
        
        <!-- XHTML > FR -->
        <namespace ns="http://orbeon.org/oxf/xml/form-runner*">
          <unwrap>
            <mode>
              
              <!-- XHTML > FR > XFORMS -->
              <namespace ns="http://www.w3.org/2002/xforms">
                <validate schema="../../frameworks/xforms/XForms-11-Orbeon-Schema.xsd">
                  <mode>

                    <!-- XHTML > FR > XFORMS > XFORMS -->
                    <namespace ns="http://www.w3.org/2002/xforms">
                      <attach/>
                    </namespace>
                    
                    <!-- XHTML > FR > XFORMS > XHTML -->
                    <namespace ns="http://www.w3.org/1999/xhtml">
                      <unwrap/>
                    </namespace>

                  </mode>
                </validate>
                <unwrap>
                  <mode>

                    <!-- XHTML > FR > XFORMS > XFORMS -->
                    <namespace ns="http://www.w3.org/2002/xforms">
                      <unwrap/>
                    </namespace>
                    
                    <!-- XHTML > FR > XFORMS > XHTML -->
                    <namespace ns="http://www.w3.org/1999/xhtml">
                      <unwrap/>
                    </namespace>
                    
                  </mode>
                </unwrap>
              </namespace>
              
              <!-- XHTML > FR > XHTML -->
              <namespace ns="http://www.w3.org/1999/xhtml">
                <unwrap/>
              </namespace>
              
            </mode>
          </unwrap>
        </namespace>
        
        <!-- XHTML > XXFORMS -->
        <namespace ns="http://orbeon.org/oxf/xml/xforms*">
          <unwrap/>
        </namespace>
        
        <!-- XHTML > XI -->
        <namespace ns="http://www.w3.org/2001/XInclude*">
          <allow/>
        </namespace>
        
      </mode>
    </validate>
  </namespace>
  
  <!-- XFORMS -->
  <namespace ns="http://www.w3.org/2002/xforms">
    <validate schema="../../frameworks/xforms/XForms-11-Orbeon-Schema.xsd">
      <mode>
        
        <!-- XFORMS > XFORMS -->
        <namespace ns="http://www.w3.org/2002/xforms">
          <attach/>
        </namespace>
        
        <!-- XFORMS > XHTML -->
        <namespace ns="http://www.w3.org/1999/xhtml">
          <unwrap/>
        </namespace>
        
        <!-- XFORMS > XXFORMS -->
        <namespace ns="http://orbeon.org/oxf/xml/xforms">
          <unwrap/>
        </namespace>
        
        <!-- XFORMS > FR -->
        <namespace ns="http://orbeon.org/oxf/xml/form-runner*">
          <unwrap>
            <mode>
              
              <!-- XFORMS > FR > XFORMS -->
              <namespace ns="http://www.w3.org/2002/xforms">
                <attach/>
              </namespace>
              
              <!-- XFORMS > FR > XHTML -->
              <namespace ns="http://www.w3.org/1999/xhtml">
                <unwrap/>
              </namespace>
              
            </mode>
          </unwrap>
        </namespace>
        
      </mode>
      
      <context path="instance">
        <mode>
          
          <!-- XFORMS [instance] > * -->
          <anyNamespace>
            <allow/>
          </anyNamespace>
          
        </mode>
      </context>
      
    </validate>
    
    <unwrap>
      <mode>
        
        <!-- XFORMS > XFORMS -->
        <namespace ns="http://www.w3.org/2002/xforms">
          <unwrap/>
        </namespace>
        
        <!-- XFORMS > XHTML -->
        <namespace ns="http://www.w3.org/1999/xhtml">
          <unwrap/>
        </namespace>
        
        <!-- XFORMS > XXFORMS -->
        <namespace ns="http://orbeon.org/oxf/xml/xforms">
          <unwrap/>
        </namespace>
        
        <!-- XFORMS > FR -->
        <namespace ns="http://orbeon.org/oxf/xml/form-runner*">
          <unwrap>
            <mode>
              
              <!-- XFORMS > FR > XFORMS -->
              <namespace ns="http://www.w3.org/2002/xforms">
                <unwrap/>
              </namespace>
              
              <!-- XFORMS > FR > XHTML -->
              <namespace ns="http://www.w3.org/1999/xhtml">
                <unwrap/>
              </namespace>
              
            </mode>
          </unwrap>
        </namespace>
        
      </mode>
      
      <context path="instance">
        <mode>
          
          <!-- XHTML > XFORMS [instance] > * -->
          <anyNamespace>
            <unwrap/>
          </anyNamespace>
          
        </mode>
      </context>
    </unwrap>
  </namespace>
  
  
  
</rules>
